/* window {
   background-color: teal;
   color: red;
} */

grid {
   /* color: darkblue; */
   padding: 10px;
}

grid label {
   margin: 8px;
}

entry#highlit {
   color: red;
}

spinbutton#highlit {
   color: red;
}